.about-me-wrapper {
    margin-top: 150px;
}
.profile {
    display: flex;
    width: 100%;
    justify-content: center;
}
.about-me-image {
    width: 40%;
} 
.about-me-biografi {
    width: 40%;
}
.about-me-image img {
    width: 300px;
}
.about-me-biografi h3 {
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 70px;
    text-align: left;

}