
.my-work-wrapper {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}
.my-work  {
    display: flex;
    width: 100%;
    height: 350px;
    margin-top: 10px;
}
.my-work:nth-child(2n) {
    display: flex;
    flex-direction: row-reverse

}
.my-work-title {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 60px;
    color: white;
   

}

.my-work-title h4 {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    margin-left: 5%;
    color: white;
}
.my-work-title h4:nth-child(2n) {
    text-indent: 50px;
    margin-right: 5%;
    text-align: justify;
    letter-spacing: 3px;
    margin-top: 25px;
}
.my-work-img {
    width: 65%;
    height: 350px;
}
.my-work-img img {
    width: 70%;
    height: 300px;
    margin-top: 25px;
    transition: transform .1s;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    --hl: 0;
    transform: scale(calc(1 + 0.2 * var(--hl)));
    filter: brightness(calc(0.6 * (1 + var(--hl))));
    transition: 0.7s;
}
.my-work-img img:hover {
    --hl: 1;
  }
.my-work-img img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    cursor: pointer;
}
.my-work-img h3 {
    display: none;
}

@media screen and (max-width: 600px) {
    .my-work-title {
        display: none;
    }
    .my-work-img h3{
        display: block;
        text-align: center;
        width: 100%;
        height: 20px;
    }
    .my-work-img {
        display: flex;
        height: 220px;
        width: 100%;
        flex-direction: column;
    }
    .my-work-img img {
        height: 150px;
        width: 50%;
        margin-top: 20px;
  

    }
    
    .my-work:nth-child(2n) {
        flex-direction: column
    }
    .my-work {
        height: 220px;

    }
}
.loading {
    text-align: center;
    margin-top: 20%;
  }