.open-menu-wrapper {
    margin-top: 200px;
}
.header-open-menu ul li p {
    font-size: 25px;
    margin-top: 10px;
    color: white;
}
.flag-mobile img {
    width: 50px;
    margin-top: 15px;
    cursor: pointer;
}
