.remote-wrapper{
    margin-top: 100px;
}
.cathegories-wrapper-remote {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cathegory-remote {
    width: 250px;
    height: 250px;
    margin: 20px;
}
.cathegory-remote img {
    width: 250px;
    height: 200px;
}
.loading-remote {
    background-color: blue;
}

.login-wraper {
    display: flex;
    flex-direction: column;
    margin-top: 240px;
    align-items: center;
  }
  .login-wraper input:focus {
    outline: none;
    border-bottom: 4px solid #379fef;
    transition: 0.2s;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
  }
  .login {
    border-top: none;
    border-right: none ;
    border-left: none;
    height: 35px;
    width: 50%;
    margin-top: 25px;
    background-color: #04090d;
  }
  ::-webkit-input-placeholder {
    text-align: center;
     }
 ::-webkit-input-placeholder:focus {
  text-align: right;
}
.submit {
    width: 13%;
    height: 45px;
    border: none;
    border-radius: 26px;
    background-color: blueviolet;
    margin-top: 30px;
    text-align: center;
  }
  .progress-bar {
    position: fixed;
    margin-left: 25%;
    border-radius: 20px;
    z-index: 2
  }
  .progress-bar-wrapper {
    width: 100%;
    height: 30px;
    border-radius: 20px;
  }
  .file-wrapper{
    display: flex;
  }
  .file {
    width: 80%;
  }