
.remote-gallery-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.wrapper-remote {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}
.gallery-remote {
    width: 250px;
    height: 250px;
    margin: 20px;
}
.gallery-remote-img {
    width: 250px;
    height: 200px;
}
.loading-remote {
    background-color: blue;
} 
.remote-header {
    display: flex;
}
.remote-header img {
    width: 20px;
}
.update-remote {
    display: flex;
}